    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="bg-primary-subtle py-2">
        <div class="container-medium d-flex align-items-center justify-content-between"><a class="btn btn-link p-0 text-body" href="/pages/authentication/card/sign-in.html"><span class="fa-solid fa-arrow-right-to-bracket me-2" data-fa-transform="down-1"></span>Admin Login</a>
          <div class="dropdown"><button class="btn btn-sm py-0 d-md-none fs-8" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
            <ul class="dropdown-menu dropdown-menu-end" style="z-index: 9999">
              <li><a class="dropdown-item" href="#!">Become a Seller</a></li>
              <li><a class="dropdown-item" href="#!">Blog</a></li>
              <li><a class="dropdown-item" href="#!">Career</a></li>
              <li><a class="dropdown-item" href="#!">Support</a></li>
              <li><a class="dropdown-item" href="#!">+254 123 45678</a></li>
            </ul>
          </div>
          <ul class="d-none d-md-flex gap-5 list-unstyled mb-0">
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Become a Seller</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Blog</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Career</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="mailto:example&#64;gmail.com"> <span class="fa-regular fa-envelope me-2" data-fa-transform="down-1"></span>Support</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="tel:+254123581321"> <span class="fa-brands fa-whatsapp me-2"></span>+254 123 581321</a></li>
          </ul>
        </div>
      </div>
      <div class="bg-body-emphasis sticky-top" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-landing navbar-expand-lg container-medium"><a class="navbar-brand flex-1 flex-lg-grow-0 me-lg-13" href="/">
          <div class="d-flex align-items-center"><img class="" src="/assets/img/logos/africalogo1.png" alt="phoenix" width="27" />
            <p class="logo-text ms-2">AT<span class="text-primary-light fw-bold">ravel</span></p>
          </div>
        </a>
        <div class="d-flex align-items-center gap-2 gap-sm-3 gap-md-4 my-2 order-lg-1">
          <div class="theme-control-toggle fa-icon-wait">
            <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" 
            data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
            <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" 
            for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" 
            title="Switch theme"><span class="icon" data-feather="moon"></span>
          </label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" 
          for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme">
          <span class="icon" data-feather="sun"></span>
        </label>
      </div>
      <a class="btn btn-link text-body-tertiary p-0" href="#!">
        <span data-feather="bell" style="width: 20px; height: 20px"></span>
      </a>
      <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="/profile">
        <span data-feather="user" style="width: 20px; height: 20px"></span>
      </a>
      <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="#settings-offcanvas" data-bs-toggle="offcanvas" title="Change Appearance" data-bs-placement="bottom">
        <span data-feather="settings" style="width: 20px; height: 20px"></span>
      </a>
        </div>
        <button class="navbar-toggler ml-1 fs-8 px-1 px-sm-3" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" aria-current="page" href="/customerpage">Flight</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Hotel</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Cab</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="#!">Products</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Event</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Trending</a></li>
          </ul>
        </div>
      </nav>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-4 pb-9">
        <div class="container-medium">
            <nav class="mb-2" aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#!">Events</a></li>
                <li class="breadcrumb-item active">Tickets</li>
              </ol>
            </nav>
            <h2 class="mb-7">Tickets</h2>
            <div class="row g-7 g-lg-11 mb-7">
              <div class="col-12 col-sm-6 col-xxl-3"><img class="mb-4 d-dark-none" src="../../assets/img/spot-illustrations/13.png" alt="" width="120" height="96" /><img class="mb-4 d-light-none" src="../../assets/img/spot-illustrations/dark_13.png" alt="" width="120" height="96" />
                <div class="mb-sm-5 pricing-column-title-box">
                  <h3 class="mb-2">Student Passes</h3>
                  <p class="text-body-secondary mb-0 pe-3">For students who want to be part of the Experience.</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                  <h3 class="display-3 fw-bolder">$4.99</h3>
                </div><button class="btn btn-lg w-100 mb-6 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#tooltipModal">Buy</button>
                <h5 class="mb-4">What’s included</h5>
                <ul class="fa-ul" style="--fa-li-margin: 1.5em;">
                  <li class="text-body-secondary mb-2"><span class="fa-li"><span class="fas fa-check text-primary"></span></span>Cultural Exhibitions</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Live Performances</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Keynote Speeches</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Complimentary Refreshments</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Promotional Opportunities</li>
                </ul>
              </div>
              <div class="col-12 col-sm-6 col-xxl-3"><img class="mb-4 d-dark-none" src="../../assets/img/spot-illustrations/14.png" alt="" width="120" height="96" /><img class="mb-4 d-light-none" src="../../assets/img/spot-illustrations/dark_14.png" alt="" width="120" height="96" />
                <div class="mb-sm-5 pricing-column-title-box">
                  <h3 class="mb-2">General Admission</h3>
                  <p class="text-body-secondary mb-0 pe-3">For teams that need to create project plans with confidence.</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                  <h3 class="display-3 fw-bolder">$14.99</h3>
                  <h5 class="fs-8 fw-normal ms-1">/ month</h5>
                </div><button class="btn btn-lg w-100 mb-6 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#tooltipModal">Buy</button>
                <h5 class="mb-4">What’s included</h5>
                <ul class="fa-ul" style="--fa-li-margin: 1.5em;">
                  <li class="text-body-secondary mb-2"><span class="fa-li"><span class="fas fa-check text-primary"></span></span>Cultural Exhibitions</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Live Performances</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Keynote Speeches</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Complimentary Refreshments</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Promotional Opportunities</li>
                </ul>
              </div>
              <div class="col-12 col-sm-6 col-xxl-3"><img class="mb-4 d-dark-none" src="../../assets/img/spot-illustrations/15.png" alt="" width="120" height="96" /><img class="mb-4 d-light-none" src="../../assets/img/spot-illustrations/dark_15.png" alt="" width="120" height="96" />
                <div class="mb-sm-5 pricing-column-title-box">
                  <h3 class="mb-2">VIP Experience</h3>
                  <p class="text-body-secondary mb-0 pe-3">For teams that need to manage work across initiatives.</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                  <h3 class="display-3 fw-bolder">$49.99</h3>
                  <h5 class="fs-8 fw-normal ms-1">/ month</h5>
                </div><button class="btn btn-lg w-100 mb-6 btn-primary" data-bs-toggle="modal" data-bs-target="#tooltipModal">Buy</button>
                <h5 class="mb-4">What’s included</h5>
                <ul class="fa-ul" style="--fa-li-margin: 1.5em;">
                  <li class="text-body-secondary mb-2"><span class="fa-li"><span class="fas fa-check text-primary"></span></span>Cultural Exhibitions</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Live Performances</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Keynote Speeches<span class="badge badge-phoenix badge-phoenix-primary ms-2 fs-10">New</span></li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Complimentary Refreshments</li>
                  <li class="mb-2 text-body-quaternary"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-body-quaternary text-opacity-50"></span><span class="fas fa-stack-1x fa-inverse fa-times text-body-tertiary"></span></span></span>Promotional Opportunities</li>
                </ul>
              </div>
              <div class="col-12 col-sm-6 col-xxl-3"><img class="mb-4 d-dark-none" src="../../assets/img/spot-illustrations/16.png" alt="" width="120" height="96" /><img class="mb-4 d-light-none" src="../../assets/img/spot-illustrations/dark_16.png" alt="" width="120" height="96" />
                <div class="mb-sm-5 pricing-column-title-box">
                  <h3 class="mb-2">Corporate Packages</h3>
                  <p class="text-body-secondary mb-0 pe-3">For organizations that need additional security and support.</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                  <h3 class="display-3 fw-bolder">$149.99</h3>
                  <h5 class="fs-8 fw-normal ms-1">/ month</h5>
                </div><button class="btn btn-lg w-100 mb-6 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#tooltipModal">Buy</button>
                <h5 class="mb-4">What’s included</h5>
                <ul class="fa-ul" style="--fa-li-margin: 1.5em;">
                  <li class="text-body-secondary mb-2"><span class="fa-li"><span class="fas fa-check text-primary"></span></span>Cultural Exhibitions</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Live Performances</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Keynote Speeches<span class="badge badge-phoenix badge-phoenix-primary ms-2 fs-10">New</span></li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Complimentary Refreshments</li>
                  <li class="mb-2 text-body"><span class="fa-li me-2 stack-icon-item"><span class="fa-stack fs-11"><span class="fas fa-circle fa-stack-2x text-success"></span><span class="fas fa-stack-1x fa-inverse fa-check text-white dark__text-dark"></span></span></span>Promotional Opportunities</li>
                </ul>
              </div>
            </div>
          </div>
            <div class="modal fade" id="tooltipModal" tabindex="-1" aria-labelledby="tooltipModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tooltipModalLabel">Ticket Payment</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                </div>
                <div class="modal-body">
                    <h5>Tooltip in a modal</h5>
                    <div class="row g-4 mb-7">
                        <div class="col-12">
                          <div class="row gx-lg-11">
                            <div class="col-12 col-md-auto">
                              <div class="d-flex">
                                <div class="form-check"><input class="form-check-input" id="creditCard" type="radio" name="paymentMethod" checked="checked"><label class="form-check-label fs-8 text-body me-3" for="creditCard">Credit card</label></div><img class="h-100 me-2 ms-4 ms-md-0" src="../../../assets/img/logos/visa.png" alt=""><img class="h-100 me-2" src="../../../assets/img/logos/discover.png" alt=""><img class="h-100 me-2" src="../../../assets/img/logos/mastercard.png" alt=""><img class="h-100" src="../../../assets/img/logos/american_express.png" alt="">
                              </div>
                            </div>
                            <div class="col-12 col-md-auto">
                              <div class="form-check"><input class="form-check-input" id="paypal" type="radio" name="paymentMethod"><label class="form-check-label fs-8 text-body" for="paypal">Paypal </label></div>
                            </div>
                            <div class="col-12 col-md-auto">
                              <div class="form-check"><input class="form-check-input" id="coupon" type="radio" name="paymentMethod"><label class="form-check-label fs-8 text-body" for="coupon">Coupon </label></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6"><label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="selectCard">Select card</label><select class="form-select text-body-emphasis" id="selectCard">
                            <option selected="selected">select a card</option>
                            <option value="visa">Visa</option>
                            <option value="discover">Discover</option>
                            <option value="mastercard">Mastercard</option>
                            <option value="american-express">American Express</option>
                          </select></div>
                        <div class="col-md-6"><label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="inputCardNumber">Card number</label><input class="form-control" id="inputCardNumber" type="number" placeholder="Enter card number" aria-label="Card number"></div>
                        <div class="col-12"><label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="inputName">Full name</label><input class="form-control" id="inputName" type="text" placeholder="Ansolo Lazinatov" aria-label="Full name"></div>
                        <div class="col-md-6"><label class="form-label fs-8 text-body-highlight ps-0 text-transform-none">Expires on</label>
                          <div class="d-flex"><select class="form-select text-body-emphasis me-3">
                              <option selected="selected">Month</option>
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                            </select><select class="form-select text-body-emphasis">
                              <option selected="selected">Year</option>
                              <option value="1990">1990</option>
                              <option value="1991">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001">2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>
                              <option value="2018">2018</option>
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                            </select></div>
                        </div>
                        <div class="col-md-6"><label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="inputCardCVC">CVC</label><input class="form-control" id="inputCardCVC" type="number" placeholder="Enter a valid CVC" aria-label="CVC"></div>
                        <div class="col-12">
                          <div class="form-check"><input class="form-check-input" id="gridCheck" type="checkbox"><label class="form-check-label text-body-emphasis fs-8" for="gridCheck">Save Card Details</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-primary" type="button">Okay</button><button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button></div>
                </div>
            </div>
            </div>
      </section><!-- <section> close ============================-->
        <!-- ============================================-->


      <div class="support-chat-container">
        <div class="container-fluid support-chat">
          <div class="card bg-body-emphasis">
            <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
              <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
              <div class="btn-reveal-trigger"><button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
              </div>
            </div>
            <div class="card-body chat p-0">
              <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a></div>
                <div class="text-center mt-auto">
                  <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="/assets/img/team/help.webp" alt="" /></div>
                  <h5 class="mt-2 mb-3">Eric</h5>
                  <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
              <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"><input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment" /></div><button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
            </div>
          </div>
        </div>
        <button class="btn p-0 border border-translucent btn-support-chat">
          <span class="fs-8 btn-text text-primary text-nowrap">Help</span>
          <span class="fa-solid fa-circle text-success fs-9 ms-2"></span>
          <span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
      </div>
      <section class="py-0 mb-9">
        <div class="container-medium-md px-0 px-md-3">
          <div class="p-5 p-sm-7 py-xl-12 px-xl-15 rounded-md-2 overflow-hidden position-relative">
            <div class="bg-holder bg-holder overlay bg-opacity-85" style="background-image:url(../../../../assets/img/bg/hotel-background.jpeg);background-position: center; background-size: cover;"></div>
            <!--/.bg-holder-->
            <div class="row g-5 position-relative justify-content-between">
              <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-3">Discover</h5>
                <div class="row g-3">
                  <div class="col">
                    <ul class="list-unstyled mb-0">
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Home</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Terms</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Talent &amp; culture</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Destination</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Sitemap</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-unstyled mb-0">
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Refund policy</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-3">Contact</h5>
                <a class="d-block text-secondary-lighter mb-1" href="mailto:info&#64;africatravels.com">
                  <span class="fa-solid fa-envelope me-2"> </span>info&#64;africatravels.com</a>
                  <a class="d-block text-secondary-lighter mb-1" href="tel:+25412345678">
                    <span class="fa-solid fa-phone me-2"> </span>+25412345678</a>
              </div>
              <div class="col-lg-5">
                <h2 class="text-white mb-2 fw-semibold">Enjoy your trip to the fullest</h2>
                <p class="mb-5 text-secondary-lighter">Sign up and get notified<br />about best deals immediately </p>
                <div class="d-flex gap-2" data-bs-theme="light">
                  <div class="form-icon-container flex-1"><input class="form-control form-icon-input" type="text" placeholder="Your email address" /><span class="fa-solid fa-envelope form-icon text-body" data-fa-transform="up-2"></span></div><button class="btn btn-primary rounded">Sign up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer position-relative">
        <div class="row g-0 justify-content-between align-items-center h-100">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for booking with Africa Travel | 2024 © <a class="mx-1" href="/">AfricaTravels</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-body-tertiary text-opacity-85">S.Rebrand</p>
          </div>
        </div>
      </footer>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
      <div class="offcanvas-header align-items-start border-bottom flex-column border-translucent">
        <div class="pt-1 w-100 mb-6 d-flex justify-content-between align-items-start">
          <div>
            <h5 class="mb-2 me-2 lh-sm"><span class="fas fa-palette me-2 fs-8"></span>Theme Customizer</h5>
            <p class="mb-0 fs-9">Explore different styles according to your preferences</p>
          </div><button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-8"> </span></button>
        </div><button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset to default</button>
      </div>
      <div class="offcanvas-body scrollbar px-card" id="themeController">
        <div class="setting-panel-item mt-0">
          <h5 class="setting-panel-item-title">Color Scheme</h5>
          <div class="row gx-2">
            <div class="col-4"><input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherLight"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/default-light.png" alt=""/></span><span class="label-text">Light</span></label></div>
            <div class="col-4"><input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherDark"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/default-dark.png" alt=""/></span><span class="label-text"> Dark</span></label></div>
            <div class="col-4"><input class="btn-check" id="themeSwitcherAuto" name="theme-color" type="radio" value="auto" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherAuto"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/auto.png" alt=""/></span><span class="label-text"> Auto</span></label></div>
          </div>
        </div>
        <div class="border border-translucent rounded-3 p-4 setting-panel-item bg-body-emphasis">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">RTL </h5>
            <div class="form-check form-switch mb-0"><input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixIsRTL" /></div>
          </div>
          <p class="mb-0 text-body-tertiary">Change text direction</p>
        </div>
        <div class="border border-translucent rounded-3 p-4 setting-panel-item bg-body-emphasis">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">Support Chat </h5>
            <div class="form-check form-switch mb-0"><input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixSupportChat" /></div>
          </div>
          <p class="mb-0 text-body-tertiary">Toggle support chat</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Navigation Type</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarPositionVertical" name="navigation-type" type="radio" value="vertical" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionVertical"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/default-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/default-dark.png" alt=""/></span><span class="label-text">Vertical</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionHorizontal" name="navigation-type" type="radio" value="horizontal" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionHorizontal"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text"> Horizontal</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionCombo" name="navigation-type" type="radio" value="combo" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionCombo"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/nav-combo-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/nav-combo-dark.png" alt=""/></span><span class="label-text"> Combo</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionTopDouble" name="navigation-type" type="radio" value="dual-nav" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionTopDouble"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/dual-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/dual-dark.png" alt=""/></span><span class="label-text"> Dual nav</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update navigation type in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Vertical Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbar-style-default" type="radio" name="config.name" value="default" data-theme-control="phoenixNavbarVerticalStyle" disabled="disabled" /><label class="btn d-block w-100 btn-navbar-style fs-9" for="navbar-style-default"> <img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/default-light.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/default-dark.png" alt="" /><span class="label-text d-dark-none"> Default</span><span class="label-text d-light-none">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbar-style-dark" type="radio" name="config.name" value="darker" data-theme-control="phoenixNavbarVerticalStyle" disabled="disabled" /><label class="btn d-block w-100 btn-navbar-style fs-9" for="navbar-style-dark"> <img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/vertical-darker.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/vertical-lighter.png" alt="" /><span class="label-text d-dark-none"> Darker</span><span class="label-text d-light-none">Lighter</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update vertical navbar appearance in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Shape</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarShapeDefault" name="navbar-shape" type="radio" value="default" data-theme-control="phoenixNavbarTopShape" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarShapeDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarShapeSlim" name="navbar-shape" type="radio" value="slim" data-theme-control="phoenixNavbarTopShape" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarShapeSlim"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-slim.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-slim-dark.png" alt=""/></span><span class="label-text"> Slim</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update horizontal navbar shape in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarTopDefault" name="navbar-top-style" type="radio" value="default" data-theme-control="phoenixNavbarTopStyle" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarTopDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-style-darker.png" alt=""/></span><span class="label-text">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarTopDarker" name="navbar-top-style" type="radio" value="darker" data-theme-control="phoenixNavbarTopStyle" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarTopDarker"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/navbar-top-style-light.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-style-lighter.png" alt=""/></span><span class="label-text d-dark-none">Darker</span><span class="label-text d-light-none">Lighter</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update horizontal navbar appearance in this page</p>
      </div>
      </div>
    </div>