    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="bg-primary-subtle py-2">
        <div class="container-medium d-flex align-items-center justify-content-between"><a class="btn btn-link p-0 text-body" href="/pages/authentication/card/sign-in.html"><span class="fa-solid fa-arrow-right-to-bracket me-2" data-fa-transform="down-1"></span>Admin Login</a>
          <div class="dropdown"><button class="btn btn-sm py-0 d-md-none fs-8" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
            <ul class="dropdown-menu dropdown-menu-end" style="z-index: 9999">
              <li><a class="dropdown-item" href="#!">Become a Seller</a></li>
              <li><a class="dropdown-item" href="#!">Blog</a></li>
              <li><a class="dropdown-item" href="#!">Career</a></li>
              <li><a class="dropdown-item" href="#!">Support</a></li>
              <li><a class="dropdown-item" href="#!">+254 123 45678</a></li>
            </ul>
          </div>
          <ul class="d-none d-md-flex gap-5 list-unstyled mb-0">
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Become a Seller</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Blog</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Career</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="mailto:example&#64;gmail.com"> <span class="fa-regular fa-envelope me-2" data-fa-transform="down-1"></span>Support</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="tel:+254123581321"> <span class="fa-brands fa-whatsapp me-2"></span>+254 123 581321</a></li>
          </ul>
        </div>
      </div>
      <div class="bg-body-emphasis sticky-top" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-landing navbar-expand-lg container-medium"><a class="navbar-brand flex-1 flex-lg-grow-0 me-lg-13" href="/">
          <div class="d-flex align-items-center"><img class="" src="/assets/img/logos/africalogo1.png" alt="phoenix" width="27" />
            <p class="logo-text ms-2">AT<span class="text-primary-light fw-bold">ravel</span></p>
          </div>
        </a>
        <div class="d-flex align-items-center gap-2 gap-sm-3 gap-md-4 my-2 order-lg-1">
          <div class="theme-control-toggle fa-icon-wait">
            <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" 
            data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
            <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" 
            for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" 
            title="Switch theme"><span class="icon" data-feather="moon"></span>
          </label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" 
          for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme">
          <span class="icon" data-feather="sun"></span>
        </label>
      </div>
      <a class="btn btn-link text-body-tertiary p-0" href="#!">
        <span data-feather="bell" style="width: 20px; height: 20px"></span>
      </a>
      <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="/profile">
        <span data-feather="user" style="width: 20px; height: 20px"></span>
      </a>
      <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="#settings-offcanvas" data-bs-toggle="offcanvas" title="Change Appearance" data-bs-placement="bottom">
        <span data-feather="settings" style="width: 20px; height: 20px"></span>
      </a>
        </div>
        <button class="navbar-toggler ml-1 fs-8 px-1 px-sm-3" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" aria-current="page" href="/customerpage">Flight</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Hotel</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Cab</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="#!">Products</a></li>
            <li class="nav-item border-bottom border-translucent border-bottom-lg-0"><a class="nav-link" href="/customerpage">Event</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Trending</a></li>
          </ul>
        </div>
      </nav>
      </div>

      		<!-- ============================ Hotel Details Start ================================== -->
		<section class="pt-3">
            <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-30.png);background-size:40%;background-position:left;z-index:1;"></div>
			<div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-30.png);background-size:26%;background-position:right 25px;z-index:1;"></div>
            <div class="bg-booking-gallery"></div>
            <div class="container-medium position-relative z-2">
				<div class="row">

					<!-- Breadcrumb -->
					<div class="col-xl-12 col-lg-12 col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#" class="text-primary">Home</a></li>
								<li class="breadcrumb-item"><a href="#" class="text-primary">Flight</a></li>
								<li class="breadcrumb-item active" aria-current="page">Los Angeles To Kenya</li>
							</ol>
						</nav>
					</div>

					<!-- Flight Info -->
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row">
							<div class="col-xl-9 col-lg-8 col-md-12">
								<div class="card border-0 mb-4">
									<div class="card-body">
										<div class="bg-holder" style="background-image:url(../assets/img/spot-illustrations/39.png);background-position: bottom right 0px; background-size: auto;"></div>
										<div class="crd-block d-md-flex align-items-start justify-content-start">
											<div class="crd-heaader-0 flex-shrink-0 mb-3 mb-md-0">
												<div class="square--70 rounded-2 bg-light-primary text-primary fs-3"><i class="fa-solid fa-plane"></i></div>
											</div>
											<div class="crd-heaader-first ps-md-3">
												<div class="d-inline-flex align-items-center mb-1">
													<span class="label fw-medium bg-success-subtle text-success">Business Class</span>
												</div>
												<div class="d-block">
													<h4 class="mb-0">Los Angeles(LOS)<span class="text-muted-2 mx-3"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>Nairobi Kenya</h4>
													<div class="explotter-info">
														<p class="detail ellipsis-container fw-semibold">
															<span class="ellipsis-item__normal">17 May</span>
															<span class="separate ellipsis-item__normal"></span>
															<span class="ellipsis-item">2 Stop</span>
															<span class="separate ellipsis-item__normal"></span>
															<span class="ellipsis-item">06H 10Min</span>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Flight Info -->
								<div class="card border-0 mb-4">
									<div class="card-body">
										<div class="flights-accordion">
											<div class="flights-list-item">
												<div class="row gy-4 align-items-center justify-content-between">

													<div class="col">
														<div class="row">
															<div class="col-xl-12 col-lg-12 col-md-12">
																<div class="d-flex align-items-center mb-2">
																	<span class="label bg-light-primary text-primary me-2">Departure</span>
																	<span class="text-muted text-sm">26 May 2024</span>
																</div>
															</div>
															<div class="col-xl-12 col-lg-12 col-md-12">
																<div class="row gx-lg-5 gx-3 gy-4 align-items-center">

																	<div class="col-sm-auto">
																		<div class="d-flex align-items-center justify-content-start">
																			<div class="d-start fl-pic">
																				<img class="img-fluid" src="assets/img/air-4.png" width="45" alt="image">
																			</div>
																			<div class="d-end fl-title ps-2">
																				<div class="fw-medium">Qutar Airways</div>
																				<div class="text-sm text-muted">First Class</div>
																			</div>
																		</div>
																	</div>

																	<div class="col">
																		<div class="row gx-3 align-items-center">
																			<div class="col-auto">
																				<div class="fw-bold">07:40</div>
																				<div class="text-muted text-sm fw-medium">LOS</div>
																			</div>

																			<div class="col text-center">
																				<div class="flightLine departure">
																					<div></div>
																					<div></div>
																				</div>
																				<div class="text-muted text-sm fw-medium mt-3">Direct</div>
																			</div>

																			<div class="col-auto">
																				<div class="fw-bold">12:20</div>
																				<div class="text-muted text-sm fw-medium">KEN</div>
																			</div>
																		</div>
																	</div>

																	<div class="col-md-auto">
																		<div class="fw-medium">4H 40M</div>
																		<div class="text-muted text-sm fw-medium">2 Stop</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="row mt-4">
															<div class="col-xl-12 col-lg-12 col-md-12">
																<div class="d-flex align-items-center mb-2">
																	<span class="label bg-success-subtle text-success me-2">Return</span>
																	<span class="text-muted text-sm">26 Jun 2024</span>
																</div>
															</div>

															<div class="col-xl-12 col-lg-12 col-md-12">
																<div class="row gx-lg-5 gx-3 gy-4 align-items-center">
																	<div class="col-sm-auto">
																		<div class="d-flex align-items-center justify-content-start">
																			<div class="d-start fl-pic">
																				<img class="img-fluid" src="assets/img/air-1.png" width="45" alt="image">
																			</div>
																			<div class="d-end fl-title ps-2">
																				<div class="fw-medium">Qutar Airways</div>
																				<div class="text-sm text-muted">Business</div>
																			</div>
																		</div>
																	</div>

																	<div class="col">
																		<div class="row gx-3 align-items-center">
																			<div class="col-auto">
																				<div class="fw-bold">14:10</div>
																				<div class="text-muted text-sm fw-medium">LOS</div>
																			</div>

																			<div class="col text-center">
																				<div class="flightLine return">
																					<div></div>
																					<div></div>
																				</div>
																				<div class="text-muted text-sm fw-medium mt-3">Direct</div>
																			</div>

																			<div class="col-auto">
																				<div class="fw-bold">19:30</div>
																				<div class="text-muted text-sm fw-medium">KEN</div>
																			</div>
																		</div>
																	</div>

																	<div class="col-md-auto">
																		<div class="fw-medium">5H 30M</div>
																		<div class="text-muted text-sm fw-medium">2 Stop</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Login Alert -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="d-flex align-items-center justify-content-start py-3 px-3 rounded-2 bg-success-subtle mb-4">
										<p class="fw-semibold m-0">
                                            <i class="fa-solid fa-gift text-warning me-2"></i>
                                            <a href="#"
												class="text-decoration-underline">Login</a> or <a href="#"
												class="text-decoration-underline">Register</a> to earn upto 100 coins (approx 1.72 US$)
											after check-out.
										<p>
									</div>
								</div>
								
								<!-- Flight Details -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<!-- Overview -->
									<div class="card mb-4">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Overview</h6>
										</div>

										<div class="card-body">
											<p class="mb-0">However, reviewers tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the internet. The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
										</div>
									</div>
								</div>
								
								<!-- Highlights -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="card mb-4">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Highlights</h6>
										</div>

										<div class="card-body">
											<ul class="row align-items-center p-0 g-3">
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>A fantastic experience at the Niagara
													Falls
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Wonderful experience at the Harborfront
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Breathtaking views at the Night at
													Niagara Falls
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>Splendid experiences with the City
													tours.
												</li>
												<li class="col-md-6">
													<i class="fa-solid fa-check text-success me-2"></i>All led out world this music while
													asked.
												</li>
											</ul>
										</div>
									</div>
								</div>
								
								<!-- Traveler Details -->
								<div class="col-xl-12 col-lg-12 col-md-12">
									<!-- Overview -->
									<div class="card">
										<div class="card-header">
											<h6 class="fw-semibold mb-0">Traveler Details</h6>
										</div>

										<div class="card-body">
											
											<div class="bg-success bg-opacity-10 rounded-2 p-3 mb-3">
												<p class="h6 text-md mb-0"><span class="badge bg-success me-2">New</span>Please enter your name as per your passport ID</p>
											</div>
										
											<div class="bg-secondary-subtle rounded-3 position-relative p-4 mb-3">
												<div class="position-absolute top-50 end-0 translate-middle-y me-2">
													<a href="#" class="text-primary fs-5"><i class="fa-solid fa-circle-xmark"></i></a>
												</div>
												<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-md-3 col-cols-2">
													<div class="col">
														<p class="fw-semibold lh-base">Name</p>
														<p class="text-muted-2 fw-medium lh-1">Dalmas Ochieng</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Passport</p>
														<p class="text-muted-2 fw-medium lh-1">BKP1256GH</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Gender</p>
														<p class="text-muted-2 fw-medium lh-1">Male</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Age</p>
														<p class="text-muted-2 fw-medium lh-1">22+</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Nationality</p>
														<p class="text-muted-2 fw-medium lh-1">American</p>
													</div>
												</div>
											</div>
											
											<div class="bg-secondary-subtle rounded-3 position-relative p-4 mb-4">
												<div class="position-absolute top-50 end-0 translate-middle-y me-2">
													<a href="#" class="text-primary fs-5"><i class="fa-solid fa-circle-xmark"></i></a>
												</div>
												<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-md-3 col-cols-2">
													<div class="col">
														<p class="fw-semibold lh-base">Name</p>
														<p class="text-muted-2 fw-medium lh-1">Keisy Evans</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Passport</p>
														<p class="text-muted-2 fw-medium lh-1">SPK6524GY</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Gender</p>
														<p class="text-muted-2 fw-medium lh-1">Male</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Age</p>
														<p class="text-muted-2 fw-medium lh-1">22+</p>
													</div>
													<div class="col">
														<p class="fw-semibold lh-base">Nationality</p>
														<p class="text-muted-2 fw-medium lh-1">Burundian</p>
													</div>
												</div>
											</div>
											
											<div class="full-width d-flex flex-column mb-4 position-relative">
						
												<div class="row align-items-stat">
													<div class="col-xl-12 col-lg-12 col-md-12 mb-2">
														<h5>Add More Passengers</h5>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">First Name</label>
															<input type="text" class="form-control" placeholder="Your First Name">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Last Name</label>
															<input type="text" class="form-control" placeholder="Your Last Name">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Passport Number</label>
															<input type="text" class="form-control" placeholder="Passport Number Here">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Passport Expire</label>
															<input type="text" class="form-control" placeholder="Passport Expire Date">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Date of birth</label>
															<input class="form-control fw-bold" type="text" placeholder="Select Date.." id="basicDate" readonly="readonly">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Nationality</label>
															<select class="select form-control">
																<option value="lv">Las Vegas</option>
																<option value="la">Los Angeles</option>
																<option value="kc">Kansas City</option>
																<option value="no">New Orleans</option>
																<option value="kc">Jacksonville</option>
																<option value="lb">Long Beach</option>
																<option value="cl">Columbus</option>
																<option value="cn">Canada</option>
															</select>
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Gender</label>
															<div class="form-group">
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio" name="gender" id="male" value="option1">
																	<label class="form-check-label" for="male">Male</label>
																</div>
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio" name="gender" id="female" value="option2">
																	<label class="form-check-label" for="female">Male</label>
																</div>
															</div>
														</div>
													</div>
													
													<div class="col-xl-12 col-lg-12 col-md-12">
														<button class="btn btn-md px-5 btn-light-primary fw-medium" type="button">Add Passengers</button>
													</div>
													
												</div>
											</div>
											
											<div class="full-width d-flex flex-column mb-2 position-relative">
						
												<div class="row align-items-stat">
													<div class="col-xl-12 col-lg-12 col-md-12 mb-2">
														<h5>Personal Information</h5>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Email Address</label>
															<input type="text" class="form-control" placeholder="Email Here">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6 col-md-6">
														<div class="form-group">
															<label class="form-label">Mobile number</label>
															<input type="text" class="form-control" placeholder="Contact Number">
														</div>
													</div>

													<div class="col-xl-12 col-lg-12 col-md-12">
														<button class="btn btn-md full-width px-5 btn-primary fw-medium" type="button">Submit & Proceed for Payment</button>
													</div>
													
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Sidebar -->
							<div class="col-xl-3 col-lg-4 col-md-12">
								<div class="card mb-4 mt-lg-0 mt-4">
									<div class="card-header"><h4>Price Summary</h4></div>
									<div class="card-body py-2">
										<div class="price-summary">
											<ul class="list-group">
												<li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													Base Fare 
													<span class="fw-semibold text-dark">1470</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													Discount
													<span class="fw-semibold text-success">-$45</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
													Other Services
													<span class="fw-semibold text-dark">$25</span>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-footer bg-success-subtle border-top py-3">
										<div class="d-flex align-items-center justify-content-between">
											<p class="fw-semibold text-muted-2 mb-0">Total Price</p>
											<p class="fw-semibold text-primary mb-0">$1430</p>
										</div>
									</div>
								</div>
								
								<div class="card border rounded-3">
									<div class="bg-holder d-block bg-card" style="background-image:url(assets/img/spot-illustrations/32.png);background-position: top right;"></div>
									<div class="card-header">
										<h4>Coupons & Offers</h4>
									</div>
									<div class="card-body">
										<div class="form-group position-relative">
											<input type="text" class="form-control" placeholder="Have a Coupon Code?" value="">
											<a href="#" class="position-absolute top-50 end-0 fw-semibold translate-middle text-primary disable">Apply</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ============================ Hotel Details End ================================== -->


		<!-- ============================ Similar Flight Start ================================== -->
		<section  class="pb-10 pt-0">
            <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-30.png);background-size:40%;background-position:left;z-index:1;"></div>
			<div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-30.png);background-size:26%;background-position:right 25px;z-index:1;"></div>
            <div class="bg-booking-gallery"></div>
            <div class="container-medium position-relative z-2">
				<div class="row align-items-center justify-content-between mb-3">
					<div class="col-8">
						<div class="upside-heading">
							<h5 class="fw-bold fs-6 m-0">Similar Flights</h5>
						</div>
					</div>
					<div class="col-4">
						<div class="text-end grpx-btn">
							<a href="#" class="btn btn-light-primary btn-md fw-medium">More<i
									class="fa-solid fa-arrow-trend-up ms-2"></i></a>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 p-0">
						<div class="main-carousel cols-3 arrow-hide">

							<!-- Single Item -->
							<div class="carousel-cell">
								<div class="pop-touritem mb-4">
									<a href="#" class="card rounded-3 border m-0 text-decoration-none">
										<div class="flight-thumb-wrapper">
											<div class="popFlights-item-overHidden">
												<img src="assets/img/destination/tr-1.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="touritem-middle position-relative p-3">
											<div class="touritem-flexxer">
												<h4 class="city fs-6 m-0 fw-bold">
													<span>New York</span>
													<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																fill="currentColor" />
															<path opacity="0.3"
																d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																fill="currentColor" />
														</svg>
													</span>
													<span>Los Angeles</span>
												</h4>
												<p class="detail ellipsis-container">
													<span class="ellipsis-item__normal">Round-trip</span>
													<span class="separate ellipsis-item__normal"></span>
													<span class="ellipsis-item">3 days</span>
												</p>
											</div>
											<div class="flight-foots">
												<h5 class="fs-5 low-price m-0"><span class="tag-span">From</span> <span
														class="price">US$492</span></h5>
											</div>
										</div>
									</a>
								</div>
							</div>

							<!-- Single Item -->
							<div class="carousel-cell">
								<div class="pop-touritem mb-4">
									<a href="#" class="card rounded-3 border m-0 text-decoration-none">
										<div class="flight-thumb-wrapper">
											<div class="popFlights-item-overHidden">
												<img src="assets/img/destination/tr-2.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="touritem-middle position-relative p-3">
											<div class="touritem-flexxer">
												<h4 class="city fs-6 m-0 fw-bold">
													<span>San Diego</span>
													<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																fill="currentColor" />
															<path opacity="0.3"
																d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																fill="currentColor" />
														</svg>
													</span>
													<span>San Jose</span>
												</h4>
												<p class="detail ellipsis-container">
													<span class="ellipsis-item__normal">Round-trip</span>
													<span class="separate ellipsis-item__normal"></span>
													<span class="ellipsis-item">3 days</span>
												</p>
											</div>
											<div class="flight-foots">
												<h5 class="fs-5 low-price m-0"><span class="tag-span">From</span> <span
														class="price">US$492</span></h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="carousel-cell">
								<div class="pop-touritem mb-4">
									<a href="#" class="card rounded-3 border m-0 text-decoration-none">
										<div class="flight-thumb-wrapper">
											<div class="popFlights-item-overHidden">
												<img src="assets/img/destination/tr-3.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="touritem-middle position-relative p-3">
											<div class="touritem-flexxer">
												<h4 class="city fs-6 m-0 fw-bold">
													<span>Dallas</span>
													<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																fill="currentColor" />
															<path opacity="0.3"
																d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																fill="currentColor" />
														</svg>
													</span>
													<span>Philadelphia</span>
												</h4>
												<p class="detail ellipsis-container">
													<span class="ellipsis-item__normal">Round-trip</span>
													<span class="separate ellipsis-item__normal"></span>
													<span class="ellipsis-item">3 days</span>
												</p>
											</div>
											<div class="flight-foots">
												<h5 class="fs-5 low-price m-0"><span class="tag-span">From</span> <span
														class="price">US$492</span></h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="carousel-cell">
								<div class="pop-touritem mb-4">
									<a href="#" class="card rounded-3 border m-0 text-decoration-none">
										<div class="flight-thumb-wrapper">
											<div class="popFlights-item-overHidden">
												<img src="assets/img/destination/tr-4.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="touritem-middle position-relative p-3">
											<div class="touritem-flexxer">
												<h4 class="city fs-6 m-0 fw-bold">
													<span>Nashville</span>
													<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																fill="currentColor" />
															<path opacity="0.3"
																d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																fill="currentColor" />
														</svg>
													</span>
													<span>Denver</span>
												</h4>
												<p class="detail ellipsis-container">
													<span class="ellipsis-item__normal">Round-trip</span>
													<span class="separate ellipsis-item__normal"></span>
													<span class="ellipsis-item">3 days</span>
												</p>
											</div>
											<div class="flight-foots">
												<h5 class="fs-5 low-price m-0"><span class="tag-span">From</span> <span
														class="price">US$492</span></h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="carousel-cell">
								<div class="pop-touritem">
									<a href="#" class="card rounded-3 border m-0 text-decoration-none">
										<div class="flight-thumb-wrapper">
											<div class="popFlights-item-overHidden">
												<img src="assets/img/destination/tr-5.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="touritem-middle position-relative p-3">
											<div class="touritem-flexxer">
												<h4 class="city fs-6 m-0 fw-bold">
													<span>Chicago</span>
													<span class="svg-icon svg-icon-muted svg-icon-2hx px-1">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M17.4 7H4C3.4 7 3 7.4 3 8C3 8.6 3.4 9 4 9H17.4V7ZM6.60001 15H20C20.6 15 21 15.4 21 16C21 16.6 20.6 17 20 17H6.60001V15Z"
																fill="currentColor" />
															<path opacity="0.3"
																d="M17.4 3V13L21.7 8.70001C22.1 8.30001 22.1 7.69999 21.7 7.29999L17.4 3ZM6.6 11V21L2.3 16.7C1.9 16.3 1.9 15.7 2.3 15.3L6.6 11Z"
																fill="currentColor" />
														</svg>
													</span>
													<span>San Francisco</span>
												</h4>
												<p class="detail ellipsis-container">
													<span class="ellipsis-item__normal">Round-trip</span>
													<span class="separate ellipsis-item__normal"></span>
													<span class="ellipsis-item">3 days</span>
												</p>
											</div>
											<div class="flight-foots">
												<h5 class="fs-5 low-price m-0"><span class="tag-span">From</span> <span
														class="price">US$492</span></h5>
											</div>
										</div>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ============================ Similar Hotels End ================================== -->


      <div class="support-chat-container">
        <div class="container-fluid support-chat">
          <div class="card bg-body-emphasis">
            <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
              <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
              <div class="btn-reveal-trigger"><button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
              </div>
            </div>
            <div class="card-body chat p-0">
              <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a></div>
                <div class="text-center mt-auto">
                  <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="/assets/img/team/help.webp" alt="" /></div>
                  <h5 class="mt-2 mb-3">Eric</h5>
                  <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
              <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"><input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment" /></div><button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
            </div>
          </div>
        </div>
        <button class="btn p-0 border border-translucent btn-support-chat">
          <span class="fs-8 btn-text text-primary text-nowrap">Help</span>
          <span class="fa-solid fa-circle text-success fs-9 ms-2"></span>
          <span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
      </div>

      <section class="py-0 mb-9">
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-33.png);background-size:auto;background-position:-8% 38px;"></div>        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-31.png);background-size:15%;background-position:right bottom;z-index:1;"></div>
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-33.png);background-size:18%;background-position:right;"></div>
        <div class="bg-latest-posts"></div>
        <div class="container-medium-md px-0 px-md-3 position-relative z-2">
          <div class="p-5 p-sm-7 py-xl-12 px-xl-15 rounded-md-2 overflow-hidden position-relative">
            <div class="bg-holder bg-holder overlay bg-opacity-85" style="background-image:url(../../../../assets/img/bg/hotel-background.jpeg);background-position: center; background-size: cover;"></div>
            <!--/.bg-holder-->
            <div class="row g-5 position-relative justify-content-between">
              <div class="col-md-6 col-lg-3">
                <h5 class="mb-3">Discover</h5>
                <div class="row g-3">
                  <div class="col">
                    <ul class="list-unstyled mb-0">
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Home</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Terms</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Talent &amp; culture</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Destination</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Sitemap</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-unstyled mb-0">
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Refund policy</a></li>
                      <li class="mb-1"><a class="text-secondary-lighter" href="#!">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <h5 class="mb-3">Contact</h5>
                <a class="d-block text-secondary-lighter mb-1" href="mailto:info&#64;africatravels.com">
                  <span class="fa-solid fa-envelope me-2"> </span>info&#64;africatravels.com</a>
                  <a class="d-block text-secondary-lighter mb-1" href="tel:+25412345678">
                    <span class="fa-solid fa-phone me-2"> </span>+25412345678</a>
              </div>
              <div class="col-lg-5">
                <h2 class="mb-2 fw-semibold">Enjoy your trip to the fullest</h2>
                <p class="mb-5 text-secondary-lighter">Sign up and get notified<br />about best deals immediately </p>
                <div class="d-flex gap-2" data-bs-theme="light">
                  <div class="form-icon-container flex-1"><input class="form-control form-icon-input" type="text" placeholder="Your email address" /><span class="fa-solid fa-envelope form-icon text-body" data-fa-transform="up-2"></span></div><button class="btn btn-primary rounded">Sign up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer position-relative">
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-31.png);background-size:22%;background-position:left;z-index:1;"></div>
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-31.png);background-size:15%;background-position:right bottom;z-index:1;"></div>
        <div class="row g-0 justify-content-between align-items-center h-100">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for booking with Africa Travel | 2024 © <a class="mx-1" href="/">AfricaTravels</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-body-tertiary text-opacity-85">S.Rebrand</p>
          </div>
        </div>
      </footer>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
      <div class="offcanvas-header align-items-start border-bottom flex-column border-translucent">
        <div class="pt-1 w-100 mb-6 d-flex justify-content-between align-items-start">
          <div>
            <h5 class="mb-2 me-2 lh-sm"><span class="fas fa-palette me-2 fs-8"></span>Theme Customizer</h5>
            <p class="mb-0 fs-9">Explore different styles according to your preferences</p>
          </div><button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-8"> </span></button>
        </div><button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset to default</button>
      </div>
      <div class="offcanvas-body scrollbar px-card" id="themeController">
        <div class="setting-panel-item mt-0">
          <h5 class="setting-panel-item-title">Color Scheme</h5>
          <div class="row gx-2">
            <div class="col-4"><input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherLight"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/default-light.png" alt=""/></span><span class="label-text">Light</span></label></div>
            <div class="col-4"><input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherDark"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/default-dark.png" alt=""/></span><span class="label-text"> Dark</span></label></div>
            <div class="col-4"><input class="btn-check" id="themeSwitcherAuto" name="theme-color" type="radio" value="auto" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs-9" for="themeSwitcherAuto"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="../../../../assets/img/generic/auto.png" alt=""/></span><span class="label-text"> Auto</span></label></div>
          </div>
        </div>
        <div class="border border-translucent rounded-3 p-4 setting-panel-item bg-body-emphasis">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">RTL </h5>
            <div class="form-check form-switch mb-0"><input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixIsRTL" /></div>
          </div>
          <p class="mb-0 text-body-tertiary">Change text direction</p>
        </div>
        <div class="border border-translucent rounded-3 p-4 setting-panel-item bg-body-emphasis">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">Support Chat </h5>
            <div class="form-check form-switch mb-0"><input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixSupportChat" /></div>
          </div>
          <p class="mb-0 text-body-tertiary">Toggle support chat</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Navigation Type</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarPositionVertical" name="navigation-type" type="radio" value="vertical" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionVertical"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/default-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/default-dark.png" alt=""/></span><span class="label-text">Vertical</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionHorizontal" name="navigation-type" type="radio" value="horizontal" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionHorizontal"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text"> Horizontal</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionCombo" name="navigation-type" type="radio" value="combo" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionCombo"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/nav-combo-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/nav-combo-dark.png" alt=""/></span><span class="label-text"> Combo</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarPositionTopDouble" name="navigation-type" type="radio" value="dual-nav" data-theme-control="phoenixNavbarPosition" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarPositionTopDouble"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/dual-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/dual-dark.png" alt=""/></span><span class="label-text"> Dual nav</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update navigation type in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Vertical Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbar-style-default" type="radio" name="config.name" value="default" data-theme-control="phoenixNavbarVerticalStyle" disabled="disabled" /><label class="btn d-block w-100 btn-navbar-style fs-9" for="navbar-style-default"> <img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/default-light.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/default-dark.png" alt="" /><span class="label-text d-dark-none"> Default</span><span class="label-text d-light-none">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbar-style-dark" type="radio" name="config.name" value="darker" data-theme-control="phoenixNavbarVerticalStyle" disabled="disabled" /><label class="btn d-block w-100 btn-navbar-style fs-9" for="navbar-style-dark"> <img class="img-fluid img-prototype d-dark-none" src="../../../../assets/img/generic/vertical-darker.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="../../../../assets/img/generic/vertical-lighter.png" alt="" /><span class="label-text d-dark-none"> Darker</span><span class="label-text d-light-none">Lighter</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update vertical navbar appearance in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Shape</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarShapeDefault" name="navbar-shape" type="radio" value="default" data-theme-control="phoenixNavbarTopShape" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarShapeDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarShapeSlim" name="navbar-shape" type="radio" value="slim" data-theme-control="phoenixNavbarTopShape" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarShapeSlim"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-slim.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-slim-dark.png" alt=""/></span><span class="label-text"> Slim</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update horizontal navbar shape in this page</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="navbarTopDefault" name="navbar-top-style" type="radio" value="default" data-theme-control="phoenixNavbarTopStyle" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarTopDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-style-darker.png" alt=""/></span><span class="label-text">Default</span></label></div>
            <div class="col-6"><input class="btn-check" id="navbarTopDarker" name="navbar-top-style" type="radio" value="darker" data-theme-control="phoenixNavbarTopStyle" disabled="disabled" /><label class="btn d-inline-block btn-navbar-style fs-9" for="navbarTopDarker"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="../../../../assets/img/generic/navbar-top-style-light.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="../../../../assets/img/generic/top-style-lighter.png" alt=""/></span><span class="label-text d-dark-none">Darker</span><span class="label-text d-light-none">Lighter</span></label></div>
          </div>
          <p class="text-warning-dark font-medium"> <span class="fa-solid fa-triangle-exclamation me-2 text-warning"></span>You can't update horizontal navbar appearance in this page</p>
      </div>
      </div>
    </div>